<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33034891653-q5r8rn8soltjohfs75ri3rcm2stbv5fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33034891653-q5r8rn8soltjohfs75ri3rcm2stbv5fn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>33034891653-u7oo6mqm7ldq034hh9utrr0o9fofia80.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNVTb11odzwKmwSTlM6RBdq967nHU5ujE</string>
	<key>GCM_SENDER_ID</key>
	<string>33034891653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almersal.app</string>
	<key>PROJECT_ID</key>
	<string>almersal-c46b8</string>
	<key>STORAGE_BUCKET</key>
	<string>almersal-c46b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33034891653:ios:6f56efade147640d6114ec</string>
	<key>DATABASE_URL</key>
	<string>https://almersal-c46b8.firebaseio.com</string>
</dict>
</plist>